%table.table.table-striped.table-bordered
  %tr
    %th UID
    %th Name
    %th Surname
    %th Email
    %th Access
    %th
  
  - if users.empty?
    %tr
      %td{ colspan: 6 }
        .align-center
          %small No users in this list
  
  - users.each do |user|
    %tr
      %td= user.uid
      %td= user.name
      %td= user.surname
      %td= user.email
      %td
        - if replay[user.id][:access]
          User has been given access to your app via
          %b
            = replay[user.id][:access_count]
            group(s)
        - else
          User has 
          %b not been given access
      %td= link_to 'Login with this user', replay[user.id][:url]