.row{ style: "margin-top: -40px;"}
  .span12
    .alert.alert-info.alert-block
      %h4 Why do I need to select a user?
      %br
      This step is actually not part of the normal SSO process flow. When SSO is triggered users
      are supposed to be logged in to Maestrano already. If they are not then they are required to sign in.
      %br
      %br
      Here we give you the choice of the user so you can test different SSO scenarios:
      %ul 
        %li user which has not been given access to your app
        %li user which has access to your app via one group only
        %li user which has access to your app via two or more groups
        
      %br
      %br
      Keep in mind that you can always create more groups and users if you need to test more scenarios!

.spacer2

.row
  .span12
    .align-center
      %b Select a user to login with
    .spacer1

    %table.table.table-striped.table-bordered
      %tr
        %th UID
        %th Name
        %th Surname
        %th Email
        %th Access
        %th

      - @users.each do |user|
        %tr
          %td= user.uid
          %td= user.name
          %td= user.surname
          %td= user.email
          %td
            - if @saml_replay_info[user.id][:access]
              User has been given access to your app via
              %b
                = @saml_replay_info[user.id][:access_count]
                groups
            - else
              User has 
              %b not been given access
          %td= link_to 'Login with this user', @saml_replay_info[user.id][:url]

    %br