= form_for @group, html: { class: 'form-inline' } do |f|
  -if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, placeholder: "Your group name"
  = f.collection_select :app_id, App.order(:name),:id,:name, {:prompt => '- App to use -'}
  = f.submit 'Save!', class: 'btn btn-primary'