.row
  .span8.offset2
    .well
      %p
        %b Name:
        = @group.name
        %br
        %b Universal ID:
        = @group.uid
        %br
        %b Use Application:
        = @group.app.name
        %br
        %b End of Free Trial:
        %b
        = @group.free_trial_end_at

      = link_to 'Edit', edit_group_path(@group)
      \|
      = link_to 'Back', groups_path
