.row
  %hr
  .align-center
    %b Edit user
  .spacer1
  .span10.offset1
    %div{style: "width: 445px; margin:auto;"}
      = render 'form'
  .clearfix
  %hr

.row
  .align-center
    %b Add user to group
  .spacer1
  .span10.offset1
    %div{style: "width: 510px; margin:auto;"}
      - if @user_remaining_groups.any?
        = form_for @group_user_rel, html: { class: 'form-inline' } do |f|
          -if @group_user_rel.errors.any?
            #error_explanation
              %h2= "#{pluralize(@app.errors.count, "error")} prohibited this relation from being saved:"
              %ul
                - @group_user_rel.errors.full_messages.each do |msg|
                  %li= msg

          = f.hidden_field :user_id
          = f.collection_select :group_id, @user_remaining_groups.sort(&:name),:id,:name, {:prompt => '- Select a group -'}
          = f.select :role, GroupUserRel::ALLOWED_ROLES, {:prompt => '- Select a role -'}
          = f.submit 'Add!', class: 'btn btn-primary'
      - else
        .align-center
          %p 
            %em This user belongs to all groups already!
  .clearfix
  %hr
  
.row
  .align-center
    %b Remove user from groups
  .spacer1
  .span10.offset1
    - if @user.group_user_rels.any?
      - @user.group_user_rels.each do |relation|
        %table.table.table-striped.table-bordered
          %tr
            %th Group
            %th Using App
            %th User Role
            %th
          %tr
            %td= relation.group.name
            %td= relation.group.app.name
            %td= @user.role(relation.group)
            %td= link_to 'Remove', relation, :confirm => 'Are you sure?', :method => :delete
    - else
      .align-center
        %p 
          %em This user belongs to no groups at the moment!
  .clearfix
  %hr
    
  
  = link_to 'Show', @user
  \|
  = link_to 'Back', users_path
  

