.row
  .span8.offset2
    .well
      %p
        %b UID:
        = @user.uid
        %br
        %b Name:
        = @user.name
        %br
        %b Surname:
        = @user.surname
        %br
        %b Email:
        = @user.email
        %br
        %b Country:
        = @user.geo_country_code
        %br
        %b Sso session:
        = @user.sso_session
        

      = link_to 'Edit', edit_user_path(@user)
      \|
      = link_to 'Back', users_path
