%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name
%p
  %b Surname:
  = @user.surname
%p
  %b Free trial end at:
  = @user.free_trial_end_at
%p
  %b Geo country code:
  = @user.geo_country_code
%p
  %b Uid:
  = @user.uid
%p
  %b Sso session:
  = @user.sso_session

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
