.row{ style: "margin-top: -40px;"}
  .span12
    .alert.alert-info.alert-block
      %h4 Bills
      %br
      A bill is a charge on one of your Maestrano customers. You can bill your customers during the month depending based on the product they buy in your application - typically new users added to a given group, localization package, premium support etc.
      %br
      %br
      If your service is essentially subscription based then you might be interested in setting up a recurring bill.

.row
  .span12
    
    .align-center
      %b List of bills created via API
    .spacer1

    %table.table.table-striped.table-bordered
      %tr
        %th UID
        %th Cents
        %th Currency
        %th Status
        %th Units
        %th Description
        %th Period Start
        %th Period End
        %th Group Charged
        %th App Charging

      - @bills.each do |bill|
        %tr
          %td= bill.uid
          %td= bill.price_cents
          %td= bill.currency
          %td= bill.status
          %td= bill.units
          %td= bill.description
          %td= bill.period_started_at
          %td= bill.period_ended_at
          %td= "#{bill.group.name} (#{bill.group.uid})"
          %td= bill.group.app.name
          

    %br
