%h1 Listing bills

%table
  %tr
    %th Uid
    %th Description
    %th Group
    %th Price cents
    %th Currency
    %th Units
    %th Period start
    %th Period end
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.uid
      %td= bill.description
      %td= bill.group_id
      %td= bill.price_cents
      %td= bill.currency
      %td= bill.units
      %td= bill.period_start
      %td= bill.period_end
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bill', new_bill_path
