.row
  .span10.offset1
    %hr
    .align-center
      %b Enter your SSO initialization endpoint (either SAML or OpenID)
    .spacer1
    .align-center
      %input{ type: "text", id: "sso_init_endpoint_master", value: @sso_init_endpoint, class:"input-xxlarge"}

.row
  .span6.offset3
    .alert.alert-success.small
      %small
        %strong Familiar with Intuit/QuickBooks integration?
        %br
        The SSO initialization endpoint is equivalent to Intuit's TryBuy link.
    %hr

.spacer1
.row
  .span10.offset1

    .align-center
      %b Select the user you want to login with
    .spacer1

    %table.table.table-striped.table-bordered
      %tr
        %th UID
        %th Name
        %th Surname
        %th Select group to login via and click go

      - @users.each do |user|
        %tr
          %td= user.uid
          %td= user.name
          %td= user.surname
          %td
            %div{ style: "height: 40px;"}
              = form_tag(sso_trigger_path, method: 'get') do
                = hidden_field_tag :sso_init_endpoint, @sso_init_endpoint
                = hidden_field_tag :user_uid, user.uid
                %div.pull-left
                  = select_tag(:group_id, options_from_collection_for_select(user.groups, "uid", "name"))
                %div.pull-left{ style: 'width: 20px;height: 1px;'}
                %div.pull-left
                  = check_box_tag 'reseller_sso'
                  %span
                    %small
                      %b Login as reseller
                %div.pull-right
                  = submit_tag 'Go!', class: 'btn btn-primary'

    %br
