= render 'shared/auth/group_selection_helptext'
      

.spacer2


.row
  .span12
    .align-center
      %em
        = "#{@current_user.name} #{@current_user.surname}"
        has been given access to your app via several groups
      %br
      %br
      %b Please select a group to login via
    .spacer1

    %table.table.table-striped.table-bordered
      %tr
        %th UID
        %th Name
        %th

      - @user_group_access_list.each do |group|
        %tr
          %td= group.uid
          %td= group.name
          %td= link_to 'Login via this group', complete_api_openid_provider_path(id: consumer_id, group_id: group.uid)

    %br