!!!
%html
  %head
    %title Maestrano API Sandbox
    /[if lt IE 9]
      %script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
    
    = favicon_link_tag image_path("favicon.ico")
    = favicon_link_tag image_path("favicon-touch.png"), :rel => 'apple-touch-icon', :type => 'image/png'
    
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    
    .container
      .navbar
        .navbar-inner
          %a.brand{href: root_path } MNO API Sandbox
          %ul.nav
            %li.dropdown{ class: @section == 'apps' && 'active' }
              %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown", 'data-target' => "#"} 
                Getting Setup
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: apps_path } Apps Credentials
                %li
                  %a{ href: metadata_path } Test Metadata Endpoint
            
            %li.dropdown{ class: @section == 'sso' && 'active' }
              %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown", 'data-target' => "#"} 
                Identity/SSO
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: groups_path } Groups
                %li
                  %a{ href: users_path } Users
                %li
                  %a{ href: sso_path } Simulate SSO
            
            %li.dropdown{ class: @section == 'billing' && 'active' }
              %a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown", 'data-target' => "#"} 
                Account API
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: bills_path } Bills
                %li
                  %a{ href: recurring_bills_path } Recurring Bills
            
            %li{ class: @section == 'logs' && 'active' }
              %a{href: logs_path } API Logs
      .row
        .span6.offset3
          - if flash[:notice]
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Hurray!
              = flash[:notice]
      
          - if flash[:error]
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Snap!
              = flash[:error]
      .spacer2
      %section{ :id => "mainSection" }
        = yield