!!!
%html
  %head
    %title Maestrano API Sandbox
    /[if lt IE 9]
      %script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
    
    = favicon_link_tag image_path("favicon.ico")
    = favicon_link_tag image_path("favicon-touch.png"), :rel => 'apple-touch-icon', :type => 'image/png'
    
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    
    .container
      .navbar
        .navbar-inner
          %a.brand{href: root_path } MNO API Sandbox
          %ul.nav
            %li{ class: @section == 'home' && 'active' }
              %a{href: root_path } Home
            %li{ class: @section == 'app' && 'active' }
              %a{href: apps_path } Manage Apps
            %li{ class: @section == 'sso' && 'active' }
              %a{href: "#"} Single Sign-On
            %li{ class: @section == 'billing' && 'active' }
              %a{href: "#"} Billing API
      .row
        .span6.offset3
          - if flash[:notice]
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Hurray!
              = flash[:notice]
      
          - if flash[:error]
            .alert.alert-error
              %button.close{"data-dismiss" => "alert", type: "button"} ×
              %strong Snap!
              = flash[:error]
      .spacer2
      %section{ :id => "mainSection" }
        = yield